:root {
  --custom-width: calc(16vw + 20px);
  --custom-width2: calc(80vw + 20px);
}
.status_main {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 2rem;
}
.status_block {
  display: flex;
  flex-direction: column;
  width: var(--custom-width);
}
.status_cont {
  display: flex;
  justify-content: space-between;
}
.status_smblk {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
.status_cardcont {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  gap: 1rem;
}
.sm_circ {
  width: 13px;
  height: 13px;
  border-radius: 1rem;
  border: 0.5px solid gray;
}
@media screen and (max-width: 1150px) {
  .status_main {
    overflow-x: scroll;
    justify-content: flex-start;
    padding-left: 1rem;
    margin-right: 1rem;
  }
  .status_block {
    width: 100vw;
    margin-bottom: 4rem;
  }
  .status_cont {
    width: var(--custom-width2);
  }
}
